{% extends "base.html" %}
{% load static %}

{% block title %}Единая база данных малого и среднего бизнеса Байзаксого района{% endblock title %}

{% block content %}
    <div class="card">
        <h2 class="card-header">Единая база данных малого и среднего бизнеса</h2>
        <div class="card-body">
            <div class="card-text">
                Современное развитие бизнеса невозможно без эффективного использования информационных технологий. Базы данных являются ключевым инструментом для хранения, управления и обработки информации, используемой в бизнесе. Однако, существующие базы данных, содержащие информацию о субъектах малого и среднего бизнеса в Байзакском районе, разбросаны по различным организациям, что затрудняет доступ к этой информации и усложняет ее анализ. В связи с этим, актуальной задачей является создание единой базы данных, которая позволит собрать все данные о субъектах малого и среднего бизнеса в Байзакском районе в одном месте и обеспечить доступ к ним широкому кругу пользователей
            </div>
        </div>
    </div>

    <br>

    <div class="">
        <div class="row">
            <a href="{% url 'company_list' %}" class="col-md-6 btn btn-lg btn-primary">
                <div class="card-body">База данных субъектов малого и среднего бизнеса</div>
            </a>
            <a href="{% url 'company_new' %}" class="col-md-6 btn btn-lg btn-success">
                <div class="card-body">Добавить субъект бизнеса</div>
            </a>
        </div>
    </div>

{% endblock content %}