{% extends "base.html" %}
{% load static %}

{% block title %}Единая база данных малого и среднего бизнеса Байзаксого района{% endblock title %}

{% block content %}


  <div class="row align-items-center">
    <div class="col-md-6">
      <h1 class="display-4">Единая база данных малого и среднего бизнеса</h1>
      <p class="lead my-4">
        Современное развитие бизнеса невозможно без эффективного использования информационных технологий. Базы данных являются ключевым инструментом для хранения, управления и обработки информации, используемой в бизнесе. Однако, существующие базы данных, содержащие информацию о субъектах малого и среднего бизнеса в Байзакском районе, разбросаны по различным организациям, что затрудняет доступ к этой информации и усложняет ее анализ. В связи с этим, актуальной задачей является создание единой базы данных, которая позволит собрать все данные о субъектах малого и среднего бизнеса в Байзакском районе в одном месте и обеспечить доступ к ним широкому кругу пользователей.
      </p>
      <div class="d-flex flex-wrap">
        <div class="position-relative">
          <a href="{% url 'company_list' %}" class="btn btn-primary mr-3 mb-3">Существующие субъекты</a>
          <a href="{% url 'company_new' %}" class="btn btn-success mb-3 ">Добавить новый субъект бизнеса</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="{% static 'images/SMEHomeImage_4.png' %}" class="img-fluid" alt="SMEHomeImage">
    </div>
  </div>


{% endblock content %}
