body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


footer {
  margin-top: auto;
}


.navbar {
    margin-bottom: 20px;
}


.card:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}