{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Список компаний малого и среднего бизнеса{% endblock title %}

{% block content %}
<div class="container">
  <h1 class="text-center">Список компаний</h1>

  <h3>Фильтр:</h3>

<!--  <form type="get" class="my-3">-->
<!--    {{ company_filter_form|crispy }}-->
<!--    <input type="submit" class="btn btn-success btn-sm" value="Фильтровать">-->
<!--  </form>-->

  <form method="get" class="my-3">
    {{ filter.form|crispy }}
    <input type="submit" class="btn btn-success btn-sm" value="Фильтровать">
  </form>


  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for company in filter.qs %}
    <div class="col">
      <div class="card h-100">
          <a href="{% url 'company_detail' company.slug %}">
            <img {% if company.image %} src="{{ company.image.url }}" {% else %} src="{% static 'images/no-image.jfif' %}" {% endif %} class="card-img-top" alt="{{ company.name }} image">
          </a>
        <div class="card-body">
          <h5 class="card-title">{{ company.name }}</h5>
          <h6 class="card-subtitle mb-2">Тип бизнеса: {{ company.business_type }}</h6>
          <h6 class="card-subtitle mb-2 text-muted"><strong>Форма собственности:</strong> {{ company.ownership_type }}</h6>
          <p class="card-text"><strong>Описание:</strong> {{ company.description|truncatechars:120 }}</p>
          <a href="{% url 'company_detail' company.slug %}" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>

    {% empty %}
      <div class="card bg bg-warning opacity-75">Ничего не найдено</div>
    {% endfor %}
  </div>
</div>
{% endblock content %}