{% extends "base.html" %}

{% block title %}Список компаний малого и среднего бизнеса{% endblock title %}

{% block content %}
<div class="container">
  <h1 class="text-center my-5">Список компаний</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for company in company_list %}
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ company.name }}</h5>
          <h6 class="card-subtitle mb-2">Тип бизнеса: {{ company.business_type }}</h6>
          <h6 class="card-subtitle mb-2 text-muted"><strong>Форма собственности:</strong> {{ company.ownership_type }}</h6>
          <p class="card-text"><strong>Описание:</strong> {{ company.description|truncatechars:120 }}</p>
          <a href="{% url 'company_detail' company.slug %}" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}